* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#navbar {
    height: 60px;
    background-color: #0f1111;
   



}

button {
    background-color: #f08804;
 
}

#logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    line-height: 60px;
    color: #f08804;
 
}

a{
     margin-right: 150px;
     text-decoration: none;
     color: white;
}


.box-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
}

.box {
    width: 150px;
    height: 200px;
    background: #ee8800;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.15);
    
}

.box:hover {
    transform: scale(1.05);
    background: #ff9d00;
}

div {
    margin-top: 10px;
    text-align: center;
    font-size: 22px;
    color: #333333;
}
.portfolio-section {
    margin: 50px;
    text-align: center;
}